@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


.image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
}

.main-heading {
    text-align: center;
    color: #ffffff;
    background-color: #323f4b;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}

.messages-container {
    padding: 15px;
}

.text-message {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 15px;
    padding: 15px;
}

.sent-messages {
    text-align: right;
    background-color: #47a3f3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.received-messages {
    text-align: left;
    background-color: #52606d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}